@media (max-width: 992px) {
  .navbar-toggler-icon {
    color: black !important;
  }

  .nav-item.nav-link {
    color: black !important;
  }

  .main-col-pt.navbar-expanded {
    margin-top: 236px !important;
  }
}


main {
    min-height: 25vh;
}

.btn{
    font-weight: 300 !important;
    min-width: 150px;
    min-height: 50px;
}
.nav-link:active {
  font-weight: bold;
}

.carrierBeacon{
  -webkit-box-sizing: border-box;
          box-sizing: border-box;

position: absolute;
width: 555px;
height: 100px;
left: 50px;
top: 360px;

background: #FFFFFF;
border: 1px solid #c6c6c6;
border-radius: 6px;
}

.lineBreak {
position: absolute;
width: 1px;
height: 70px;
left: 244px;
top: 375px;

background: #DEE2E6;
}

.btn1 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;

position: absolute;
width: 150px;
height: 50px;
left: 455px;
top: 487px;

background: #FFFFFF;
border: 1px solid #c6c6c6;
border-radius: 6px;

/* Continue → */

font-family: 'Prompt';
font-style: normal;
font-weight: 300;
font-size: 20px;
line-height: 30px;

color: #7D7D7D;
}

.btn2 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;

position: absolute;
width: 150px;
height: 50px;
left: 455px;
top: 487px;

background: #111820;
border: 1px solid #c6c6c6;
border-radius: 6px;

/* Continue → */

font-family: 'Prompt';
font-style: normal;
font-weight: 300;
font-size: 20px;
line-height: 30px;

color: #7D7D7D;
}

.style1{
    min-width: 150px;
    min-height: 50px;
}

.sepImg {
  position: absolute;
width: 1px;
height: 70px;
left: 244px;
top: 375px;

background: #DEE2E6;
}

.hrvertical {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  height: 2px;
  min-width: 70px;
  width: 70px;
}
.style2 {
    font-size: 24px;
    font-weight: light !important;
}
.style3 {
    font-size: 22px;
}

.main-col-pt {
  padding-top: 76px;
}

.style4 {
    line-height: 36px;
}

.style5 {
    font-size: 20px;
}

.style6 {
    font-size: 16px;
}

.article {
  overflow-y: scroll;
  height: 62vh;
}

.article::-webkit-scrollbar {
  width: 12px;
}

.article::-webkit-scrollbar-thumb {
  background-color: var(#868e96) !important;
  border-radius: 6px;
}

.article::-webkit-scrollbar-track {
  background-color: var(#111820);
  border-radius: 6px;
}

#text3 {
  height: 30vh;
  overflow: auto;
}
