@media (max-width: 992px) {
  .navbar-toggler-icon {
    color: black !important;
  }

  .nav-item.nav-link {
    color: black !important;
  }

  .main-col-pt.navbar-expanded {
    margin-top: 236px !important;
  }
}


main {
    min-height: 25vh;
}

.btn{
    font-weight: 300 !important;
    min-width: 150px;
    min-height: 50px;
}
.nav-link:active {
  font-weight: bold;
}

.carrierBeacon{
  -webkit-box-sizing: border-box;
          box-sizing: border-box;

position: absolute;
width: 555px;
height: 100px;
left: 50px;
top: 360px;

background: #FFFFFF;
border: 1px solid #c6c6c6;
border-radius: 6px;
}

.lineBreak {
position: absolute;
width: 1px;
height: 70px;
left: 244px;
top: 375px;

background: #DEE2E6;
}

.btn1 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;

position: absolute;
width: 150px;
height: 50px;
left: 455px;
top: 487px;

background: #FFFFFF;
border: 1px solid #c6c6c6;
border-radius: 6px;

/* Continue → */

font-family: 'Prompt';
font-style: normal;
font-weight: 300;
font-size: 20px;
line-height: 30px;

color: #7D7D7D;
}

.btn2 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;

position: absolute;
width: 150px;
height: 50px;
left: 455px;
top: 487px;

background: #111820;
border: 1px solid #c6c6c6;
border-radius: 6px;

/* Continue → */

font-family: 'Prompt';
font-style: normal;
font-weight: 300;
font-size: 20px;
line-height: 30px;

color: #7D7D7D;
}

.style1{
    min-width: 150px;
    min-height: 50px;
}

.sepImg {
  position: absolute;
width: 1px;
height: 70px;
left: 244px;
top: 375px;

background: #DEE2E6;
}

.hrvertical {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  height: 2px;
  min-width: 70px;
  width: 70px;
}
.style2 {
    font-size: 24px;
    font-weight: light !important;
}
.style3 {
    font-size: 22px;
}

.main-col-pt {
  padding-top: 76px;
}

.style4 {
    line-height: 36px;
}

.style5 {
    font-size: 20px;
}

.style6 {
    font-size: 16px;
}

.article {
  overflow-y: scroll;
  height: 62vh;
}



#message {
  height: 30vh;
  overflow: auto;
}

@-webkit-keyframes pulse {
    0% {
        border-color: rgba(173, 216, 230, 0.5); /* Light blue with 50% opacity */
        -webkit-box-shadow: 0 0 5px rgba(173, 216, 230, 0.5);
                box-shadow: 0 0 5px rgba(173, 216, 230, 0.5);
    }
    50% {
        border-color: rgba(173, 216, 230, 1); /* Fully opaque light blue */
        -webkit-box-shadow: 0 0 10px rgba(173, 216, 230, 1), 0 0 15px rgba(173, 216, 230, 1);
                box-shadow: 0 0 10px rgba(173, 216, 230, 1), 0 0 15px rgba(173, 216, 230, 1);
    }
    100% {
        border-color: rgba(173, 216, 230, 0.5);
        -webkit-box-shadow: 0 0 5px rgba(173, 216, 230, 0.5);
                box-shadow: 0 0 5px rgba(173, 216, 230, 0.5);
    }
}

@keyframes pulse {
    0% {
        border-color: rgba(173, 216, 230, 0.5); /* Light blue with 50% opacity */
        -webkit-box-shadow: 0 0 5px rgba(173, 216, 230, 0.5);
                box-shadow: 0 0 5px rgba(173, 216, 230, 0.5);
    }
    50% {
        border-color: rgba(173, 216, 230, 1); /* Fully opaque light blue */
        -webkit-box-shadow: 0 0 10px rgba(173, 216, 230, 1), 0 0 15px rgba(173, 216, 230, 1);
                box-shadow: 0 0 10px rgba(173, 216, 230, 1), 0 0 15px rgba(173, 216, 230, 1);
    }
    100% {
        border-color: rgba(173, 216, 230, 0.5);
        -webkit-box-shadow: 0 0 5px rgba(173, 216, 230, 0.5);
                box-shadow: 0 0 5px rgba(173, 216, 230, 0.5);
    }
}

@-webkit-keyframes pulseGlow {
    0% {
        -webkit-box-shadow: 0 0 3px rgba(123, 175, 254, 0.5);
                box-shadow: 0 0 3px rgba(123, 175, 254, 0.5);
    }
    50% {
        -webkit-box-shadow: 0 0 8px rgba(123, 175, 254, 1), 0 0 12px rgba(123, 175, 254, 1);
                box-shadow: 0 0 8px rgba(123, 175, 254, 1), 0 0 12px rgba(123, 175, 254, 1);
    }
    100% {
        -webkit-box-shadow: 0 0 3px rgba(123, 175, 254, 0.5);
                box-shadow: 0 0 3px rgba(123, 175, 254, 0.5);
    }
}

@keyframes pulseGlow {
    0% {
        -webkit-box-shadow: 0 0 3px rgba(123, 175, 254, 0.5);
                box-shadow: 0 0 3px rgba(123, 175, 254, 0.5);
    }
    50% {
        -webkit-box-shadow: 0 0 8px rgba(123, 175, 254, 1), 0 0 12px rgba(123, 175, 254, 1);
                box-shadow: 0 0 8px rgba(123, 175, 254, 1), 0 0 12px rgba(123, 175, 254, 1);
    }
    100% {
        -webkit-box-shadow: 0 0 3px rgba(123, 175, 254, 0.5);
                box-shadow: 0 0 3px rgba(123, 175, 254, 0.5);
    }
}

.glow {
    border: 3px solid rgba(123, 175, 254, 0.5);
    -webkit-animation: pulseGlow 2s infinite;
            animation: pulseGlow 2s infinite;
}

.univ-hover {
  cursor: pointer;
}