.btn{
    font-weight: 300 !important;
    min-width: 150px;
    min-height: 50px;
}

.nav-link.active {
  font-weight: bold;
}

.carrierBeacon{
  -webkit-box-sizing: border-box;
          box-sizing: border-box;

position: absolute;
width: 555px;
height: 100px;
left: 50px;
top: 360px;

background: #FFFFFF;
border: 1px solid #c6c6c6;
border-radius: 6px;
}

.lineBreak {
position: absolute;
width: 1px;
height: 70px;
left: 244px;
top: 375px;

background: #DEE2E6;
}

.btn1 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;

position: absolute;
width: 150px;
height: 50px;
left: 455px;
top: 487px;

background: #FFFFFF;
border: 1px solid #c6c6c6;
border-radius: 6px;

/* Continue → */

font-family: 'Prompt';
font-style: normal;
font-weight: 300;
font-size: 20px;
line-height: 30px;

color: #7D7D7D;
}

.btn2{
 -webkit-box-sizing: border-box;
         box-sizing: border-box;

position: absolute;
width: 150px;
height: 50px;
left: 455px;
top: 547px;

background: #111820;
border: 1px solid #111820;
border-radius: 6px;
}

.style1{
    min-width: 150px;
    min-height: 50px;
}

.style2{
    min-width: 555px;
    min-height: 100px;
}

.sepImg {
  position: absolute;
width: 1px;
height: 70px;
left: 244px;
top: 375px;

background: #DEE2E6;
}